# Rust
/target
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Web
node_modules/
dist/
*.tsbuildinfo
web/vite.config.d.ts
web/vite.config.js

# OS/editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
